<?xml version="1.0"?>
<robot name="fanuc_lrmate200id" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find fanuc_lrmate200id_gazebo)/urdf/lrmate200id_macro.xacro"/>
  <xacro:include filename="$(find fanuc_lrmate200id_gazebo)/urdf/_d435.urdf.xacro" />

  <xacro:fanuc_lrmate200id_robot prefix=""/>

<sensor_d435 parent="link_6">
  <origin xyz="0.0248461355134 0.0274223973678 0.088426501091" rpy="0 0 0"/>
</sensor_d435>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
