<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:macro name="gripper" params="prefix">


    <!-- Part 6 Gripper Base Joint -->
    <joint name="gripper_base_to_link_6" type="fixed">
        <parent link="link_6" />
        <child link="gripper_base_link" />
        <origin rpy="0 0 0" xyz="0.04 0 0.0" />
    </joint>
    <!-- Gripper Base -->
    <link name="gripper_base_link">
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://fanuc_lrmate200id_support/meshes/gripper/collision/gripper_base.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://fanuc_lrmate200id_support/meshes/gripper/visual/gripper_base.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="">
                <color rgba="0.96 0.76 0.13 1.0" />
            </material>
        </visual>
        
        <inertial>
            <origin rpy="0 0 0" xyz="0.00112 0.04196 0" />
            <mass value="1.067" />
            <inertia ixx="0.00372062398" ixy="-0.000013337910" ixz="0.000000013" iyy=".00223540544" iyz="-0.00000003496" izz=".003641916" />
        </inertial>

    </link>

    <gazebo reference="gripper_base_link">
        <material>Gazebo/Black</material>
    </gazebo>


        <!-- Part 6 Gripper Base Joint -->
    <joint name="mid_layer_to_gripper_base" type="fixed">
        <parent link="gripper_base_link" />
        <child link="mid_layer_link" />
        <origin rpy="0 0 0" xyz="0.07 0 0.0" />
    </joint>
    <!-- Gripper Base -->
    <link name="mid_layer_link">
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://fanuc_lrmate200id_support/meshes/gripper/collision/mid_layer.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://fanuc_lrmate200id_support/meshes/gripper/visual/mid_layer.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="">
                <color rgba="0.1 0.4 0.13 1.0" />
            </material>
        </visual>
        
        <inertial>
            <origin rpy="0 0 0" xyz="0.00112 0.04196 0" />
            <mass value="1.067" />
            <inertia ixx="0.00372062398" ixy="-0.000013337910" ixz="0.000000013" iyy=".00223540544" iyz="-0.00000003496" izz=".003641916" />
        </inertial>

    </link>

    <gazebo reference="mid_layer_link">
        <material>Gazebo/Black</material>
    </gazebo>

            <!-- Part 6 Gripper Base Joint -->
    <joint name="finger_1_to_mid_layer" type="fixed">
        <parent link="mid_layer_link" />
        <child link="finger_1_link" />
        <axis xyz="0 1 0" />
        <origin rpy="3.14 0 0" xyz="0.097 0.032 0.0" />
        <limit effort="30" velocity="1.0" lower="-0.2" upper="0.2" />
    </joint>
    <!-- Gripper Base -->
    <link name="finger_1_link">
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://fanuc_lrmate200id_support/meshes/gripper/collision/finger_1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://fanuc_lrmate200id_support/meshes/gripper/visual/finger_1.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="">
                <color rgba="0.5 0.5 0.5 1.0" />
            </material>
        </visual>
        
        <inertial>
            <origin rpy="0 0 0" xyz="0.00112 0.04196 0" />
            <mass value="1.067" />
            <inertia ixx="0.00372062398" ixy="-0.000013337910" ixz="0.000000013" iyy=".00223540544" iyz="-0.00000003496" izz=".003641916" />
        </inertial>

    </link>

    <gazebo reference="finger_1_link">
        <material>Gazebo/Black</material>
    </gazebo>


            <!-- Part 6 Gripper Base Joint -->
    <joint name="finer_2_to_mid_layer" type="fixed">
        <parent link="mid_layer_link" />
        <child link="finger_2_link" />
        <axis xyz="0 1 0" />
        <origin rpy="0 0 0" xyz="0.097 -0.032 0.0" />
        <limit effort="30" velocity="1.0" lower="-0.2" upper="0.2" />
    </joint>
    <!-- Gripper Base -->
    <link name="finger_2_link">
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://fanuc_lrmate200id_support/meshes/gripper/collision/finger_2.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://fanuc_lrmate200id_support/meshes/gripper/visual/finger_2.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="">
                <color rgba="0.5 0.5 0.5 1.0" />
            </material>
        </visual>
        
        <inertial>
            <origin rpy="0 0 0" xyz="0.00112 0.04196 0" />
            <mass value="1.067" />
            <inertia ixx="0.00372062398" ixy="-0.000013337910" ixz="0.000000013" iyy=".00223540544" iyz="-0.00000003496" izz=".003641916" />
        </inertial>

    </link>

    <gazebo reference="finger_2_link">
        <material>Gazebo/Black</material>
    </gazebo>
 
 
     
	</xacro:macro>
</robot>